{% extends "base.html" %}

{% block content %}
  <div class="section" style="background-color: #AAA;">
    <div class="container">
      <div class="row">
        <h2>Welcome to Clock-In!</h2>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="container">

      <div class="row plusrow">
        <div class="col-lg-6 col-lg-offset-3 text-xs-center">
          <a href="accounts/login" class="btn btn-block btn-lg btn-success text-xs-center">
            Log in
          </a>
        </div>
      </div>

      <div class="row plusrow">
        <div class="col-lg-6 col-lg-offset-3 text-xs-center">
          <a href="accounts/register" class="btn btn-block btn-lg btn-success text-xs-center">
            Register
          </a>
        </div>
      </div>

    </div>
  </div>


{% endblock %}

