{% extends "base.html" %}
{% load static from staticfiles %}

{% block content %}
  <div class="section" style="background-color: #555;">
    <div class="container">
      <div class="row">
        {% if mobile %}<h5 style="margin-left: 15px;">{% else %}<h3>{% endif %}
        {{ user.username }}'s tasks:
        {% if mobile %}</h5>{% else %}</h3>{% endif %}
      </div>
    </div>
  </div>

{% if tasks %}
{% for task in tasks %}
{% if task.is_project %}
<div class="section" style="background-color: #{{ task.color }}; border-bottom: solid #000;">
  <div class="container">
    <div class="row inline">
      <div class="col-xs-2 getlow text-center">
        <button type="button" class="btn {% if mobile %} btn-sm {% else %} btn-lg {% endif %} btn-block btn-warning" id="proj_butt{{ task.project_id }}" style="display: block; width: 100%;" onclick="show_project_tasks({{ task.project_id }});">
          <span class="glyphicon glyphicon-triangle-right" id="drop{{ task.project_id }}"></span>
        </button>
      </div>
      <div id="p_label{{ task.project_id }}" style="display: none;">{{ task.name }}</div>
      <div class="{% if mobile %}col-xs-5{% else %}col-xs-6{% endif %}">
        <ul class="list-inline">
          <li class="list-inline-item">
          Project: {{ task.name }}
          </li>
        </ul>
      </div>
      <div class="{% if mobile %}col-xs-3{% else %}col-xs-2{% endif %} getlow text-center">
        <button type="button" class="btn {% if mobile %} btn-sm {% else %} btn-lg {% endif %} btn-block btn-success" value="Add Task" onclick="show_add_task({{ task.project_id }});">
          <span class="glyphicon glyphicon-plus" id="p_task_add{{ task.project_id }}"></span>
          Add Task
        </button>
      </div>
      <div class="col-xs-2 getlow text-center">
        <button type="button" class="btn {% if mobile %} btn-sm {% else %} btn-lg {% endif %} btn-block btn-danger" value="Edit" onclick="edit_task({{ task.task_id }});">
          Edit
        </button>
      </div>
    </div>
    <div id="p_tasks{{ task.project_id }}" style="display: none;">
    {% if task.tasks %}
    {% for p_task in task.tasks %}
    <div class="row inline" style="background-color: #{{ p_task.color }};">
      <form id="form{{ p_task.task_id }}">
        <div class="col-xs-offset-1 {% if mobile %}col-xs-3{% else %}col-xs-2{% endif %} getlow text-center">
          <button type="button" class="btn {% if mobile %} btn-sm {% else %} btn-lg {% endif %} btn-block btn-success" id="clock_butt{{ p_task.task_id }}" value="Add Task" onclick="clock_in({{ p_task.task_id }});">
          <span class="glyphicon glyphicon-time"></span>
            Clock-in
          </button>
        </div>
      </form>
      <div class="{% if mobile %}col-xs-6{% else %}col-xs-7{% endif %}">
        <ul class="list-inline">
          <li class="list-inline-item">
            {{ p_task.name }}
          </li>
          <li class="list-inline-item" id="p_task{{ p_task.task_id }}time"> Time clocked: {{ p_task.time_str | safe }} 
          </li>
        </ul>
      </div>
      <div class="col-xs-2 getlow text-center">
        <button type="button" class="btn {% if mobile %} btn-sm {% else %} btn-lg {% endif %} btn-block btn-danger" value="Edit" onclick="edit_task({{ p_task.task_id }});">
          Edit
        </button>
      </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="row inline">
      <div class="col-xs-offset-1 col-xs-11">
        <ul class="list-inline">
          <li class="list-inline-item">
            No tasks for this project.
          </li>
        </ul>
      </div>
    </div>
    {% endif %}
    </div>
    <div class="row">&nbsp</div>
  </div>
</div>
{% else %}
<div class="section" style="background-color: #{{ task.color }}; border-bottom: solid #000;">
  <div class="container">
    <div class="row inline">
      <form id="form{{ task.task_id }}">
        <div class="{% if mobile %}col-xs-3{% else %}col-xs-2{% endif %} getlow text-center">
          <button type="button" class="btn {% if mobile %} btn-sm {% else %} btn-lg {% endif %} btn-block btn-success" id="clock_butt{{ task.task_id }}" value="Add Task" onclick="clock_in({{ task.task_id }});">
          <span class="glyphicon glyphicon-time"></span>
            Clock-in
          </button>
        </div>
      </form>
      <div class="{% if mobile %}col-xs-7{% else %}col-xs-8{% endif %}">
        <ul class="list-inline">
          <li class="list-inline-item">
            {{ task.name }}
          </li>
          <li class="list-inline-item" id="task{{ task.task_id }}time"> Time clocked: {{ task.time_str | safe }} 
          </li>
        </ul>
      </div>
      <div class="col-xs-2 getlow text-center">
        <button type="button" class="btn {% if mobile %} btn-sm {% else %} btn-lg {% endif %} btn-block btn-danger" value="Edit" onclick="edit_task({{ task.task_id }});">
          Edit
        </button>
      </div>
    </div>
    <div class="row">&nbsp</div>
  </div>
</div>
{% endif %}
{% endfor %}
{% else %}
<div class="section" style="background-color: #555;">
  <div class="container">
    <div class="row"></div>
    <div class="row">
      <h3>You currently have no tasks.</h3>
    </div>
  </div>
</div>
{% endif %}

<div class="section" id="add_buttons_section">
  <div class="container">
    <div class="row plusrow">
      <div class="col-sm-6 col-sm-offset-3 text-xs-center">
        <button type="button" class="btn {% if mobile %} btn-sm {% else %} btn-lg {% endif %} btn-block btn-success" value="Add Task" onclick="show_add_task(0);">
          <span class="glyphicon glyphicon-plus"></span> New Task
        </button>
      </div>
    </div>
    <div class="row plusrow">
      <div class="col-sm-6 col-sm-offset-3 text-xs-center">
        <button type="button" class="btn {% if mobile %} btn-sm {% else %} btn-lg {% endif %} btn-block btn-success" value="Add Project"  onclick="show_add_project();">
          <span class="glyphicon glyphicon-plus"></span> New Project
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Add task modal -->
<div class="section" id="task_modal" style="margin-top: 20px; display:none;">
<div class="container">
{% if mobile %}
<div class="container col-xs-12">
{% else %}
<div class="container col-xs-8 col-xs-offset-2">
{% endif %}
<div class="panel-group">
  <div class="panel panel-default" >
    <div class="panel-body">
      <form id="task_form" class="form-horizontal" action="{% url 'clocks:new_task' %}" method="post" role="form">
        {% csrf_token %}
        <div class="form-group">
          <div class="col-xs-12">
            <h3 style="margin-bottom: 20px;" id="new_task_label">New Task:</h3>
          </div>
          <div class="col-xs-12">
            <input type="text" class="form-control" name="name" id="id_name" placeholder="Task Name" maxlength="50" autofocus/>
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12">
            <h5>Select a task color:</h5>
          </div>
          <div class="col-xs-12">
            <div class="col-xs-offset-2">
              <button type="button" id="tb0" class="btn btn-md btn-color center-block col-xs-1" style="background-color: #888;" onclick="task_color(0);" disabled="disabled">&nbsp</button>
              <button type="button" id="tb1" class="btn btn-md btn-color center-block col-xs-1" style="background-color: #999;" onclick="task_color(1);">&nbsp</button>
              <button type="button" id="tb2" class="btn btn-md btn-color center-block col-xs-1" style="background-color: #AAA;" onclick="task_color(2);">&nbsp</button>
              <button type="button" id="tb3" class="btn btn-md btn-color center-block col-xs-1" style="background-color: #BBB;" onclick="task_color(3);">&nbsp</button>
              <button type="button" id="tb4" class="btn btn-md btn-color center-block col-xs-1" style="background-color: #CCC;" onclick="task_color(4);">&nbsp</button>
              <button type="button" id="tb5" class="btn btn-md btn-color center-block col-xs-1" style="background-color: #DDD;" onclick="task_color(5);">&nbsp</button>
            </div>
          </div>
        </div>
        <div class="form-group">
        </div>
        <div class="form-group" style="display: none;">
          <input type="text" class="form-control" name="color" id="id_color" maxlength="6" hidden/>
        </div>
        <div class="form-group" style="display: none;">
          <input type="text" class="form-control" name="project_id" id="id_project_id" value="0" hidden/>
        </div>
        <div class="form-group">
          <div class="col-xs-6">
            <button type="button" class="btn btn-success btn-block" name="name-submit" id="name-submit" value="Create Task" onclick="submit_add_task();">Create Task</button>
          </div>
          <div class="col-xs-6">
            <button type="button" class="btn btn-block btn-danger" name="name-cancel" id="name-cancel" value="Cancel" onclick="hide_add_task();">Cancel</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
</div>
</div>
</div>

<!-- Add Project modal -->
<div class="section" id="project_modal" style="margin-top: 20px; display:none;">
<div class="container">
{% if mobile %}
<div class="container col-xs-12">
{% else %}
<div class="container col-xs-8 col-xs-offset-2">
{% endif %}
<div class="panel-group">
  <div class="panel panel-default" >
    <div class="panel-body">
      <form id="project_form" class="form-horizontal" action="{% url 'clocks:new_project' %}" method="post" role="form">
        {% csrf_token %}
        <div class="form-group">
          <div class="col-xs-12">
            <h3 style="margin-bottom: 20px;">New Project:</h3>
          </div>
          <div class="col-xs-12">
            <input type="text" class="form-control" name="p_name" id="id_p_name" placeholder="Project Name" maxlength="50" autofocus/>
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12">
            <h5>Select a project color:</h5>
          </div>
          <div class="col-xs-12">
            <div class="col-xs-offset-2">
              <button type="button" id="pb0" class="btn btn-md btn-color center-block col-xs-1" style="background-color: #444;" onclick="project_color(0);" disabled="disabled">&nbsp</button>
              <button type="button" id="pb1" class="btn btn-md btn-color center-block col-xs-1" style="background-color: #555;" onclick="project_color(1);">&nbsp</button>
              <button type="button" id="pb2" class="btn btn-md btn-color center-block col-xs-1" style="background-color: #666;" onclick="project_color(2);">&nbsp</button>
            </div>
          </div>
        </div>
        <div class="form-group">
        </div>
        <div class="form-group" style="display: none;">
          <input type="text" class="form-control" name="p_color" id="id_p_color" maxlength="6" hidden/>
        </div>
        <div class="form-group">
          <div class="col-xs-6">
            <button type="button" class="btn btn-success btn-block" name="name-submit" id="p-name-submit" value="Create Project" onclick="submit_add_project();">Create Project</button>
          </div>
          <div class="col-xs-6">
            <button type="button" class="btn btn-block btn-danger" name="name-cancel" id="p-name-cancel" value="Cancel" onclick="hide_add_project();">Cancel</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
</div>
</div>
</div>


<form id="task_id_form" action="{% url 'clocks:clock_in' %}" method="post" role="form" style="display: none;">
  {% csrf_token %}
  <div class="form-group">
    <input type="text" class="form-control" name="task_id" id="id_task_id" hidden/>
  </div>
</form>

<div id="placeholders" style="display: none;">
  <ul>
    <li id="time0">{{ seconds }}</li>
  </ul>
</div>

{% endblock %}

{% block footer_js %}
<script type="text/javascript" src="{% static 'js/tasks.js' %}"></script>
{% endblock %}



