{% extends "registration/registration_base.html" %}
{% load i18n %}
{% load static from staticfiles %}

{% block content %}
<div id="stockcontainer">
<div class="container">
<div class="col-md-6 col-md-offset-3">
<div class="panel panel-default" >
	<div class="panel-heading">
		<div class="btn-group btn-group-justified" role="group" aria-label="...">
			<div class="btn-group" role="group">
				<a href="{% url 'auth_login' %}" class="btn btn-primary">Log In</a>
			</div>
			<div class="btn-group" role="group">
				<a href="{% url 'registration_register' %}" class="btn btn-default">Register</a>
			</div>
		</div>
	</div>
	<div class="panel-body" >
		{% if user.is_authenticated %}
		<div class="col-xs-12">
			<h3>You are currently logged in.</h3>
			<h4>If you wish to login under another username, you must first 
				<a href="{% url 'auth_logout' %}">{% trans "log out" %}</a>.
			</h4>
		</div>
		{% else %}
		<div class="col-xs-12">
			<h4 style="margin-bottom: 20px;">Please log in to your account:</h4>
		</div>
		<form id="basicBootstrapForm" class="form-horizontal" role="form" action="{% url 'auth_login' %}" method="post">
			{% csrf_token %}
			{% if form.non_field_errors %}
			<div class="col-xs-12">
			<div class="form-group">
				<div class="alert alert-warning" style="border-radius: 0; margin-bottom: 0px;">
					{{ form.non_field_errors }}
				</div>
			</div>
			</div>
			{% endif %}
			<div class="form-group">
				<div class="col-xs-12 inputGroupContainer">
					<div class="input-group">
						<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
						<input type="text" id="id_username" maxlength="30" class="form-control" name="username" placeholder="Username" autofocus/>
					</div>
				</div>
			</div>
			{% if form.username.errors %}
			<div class="col-xs-12">
			<div class="form-group">
				<div class="alert alert-warning" style="border-radius: 0; margin-bottom: 0px;">
					{{ form.username.errors }}
				</div>
			</div>
			</div>
			{% endif %}
			<div class="form-group">
				<div class="col-xs-12 inputGroupContainer">
					<div class="input-group">
						<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
						<input type="password" id="id_password" class="form-control" name="password" placeholder="Password">
					</div>
				</div>
			</div>
			{% if form.password.errors %}
			<div class="col-xs-12">
			<div class="form-group">
				<div class="alert alert-warning" style="border-radius: 0; margin-bottom: 0px;">
					{{ form.password.errors }}
				</div>
			</div>
			</div>
			{% endif %}
			<div class="form-group login-button">
				<div class="col-sm-12 controls">
					<button type="submit" class="btn btn-success btn-block center-block" name="login-submit" id="login-submit" value="Log In">Log In</button>
				</div>
			</div>
		</form>
		<div class="panel-footer clearfix">
			<a href="{% url 'auth_password_reset' %}" class="btn btn-link forgotpw center-block">Forgot Password?</a>
		</div>
		{% endif %}
	</div>
</div>
</div>
</div>
</div>
{% endblock %}


{% block footer_js %}
<script src="{% static 'js/formValidation.min.js' %}"></script>
<script src="{% static 'js/bootstrapfv.min.js' %}"></script>
<script>
$(document).ready(function() {
    $('#basicBootstrapForm').formValidation({
        framework: 'bootstrap',
        icon: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            username: {
                validators: {
                    notEmpty: {
                        message: 'The username is required.'
                    },
                    stringLength: {
                        max: 30,
                        message: 'The username is invalid'
                    },
                    regexp: {
                        regexp: /^[a-zA-Z0-9_\.]+$/,
                        message: 'The username is invalid.'
                    }
                }
            },
            password: {
                validators: {
                    notEmpty: {
                        message: 'The password is required.'
                    }
                }
            }
        }
    });
});
</script>
{% endblock %}

