{% extends "registration/registration_base.html" %}
{% load i18n %}


{% block head %}
<link rel="stylesheet" href="/static/css/formValidation.min.css">
<style>
.panel-body .btn{padding:10px}.panel .btn-link{color:black}#basicBootstrapForm .form-group{align-items:top}.panel{border-radius:25px}.panel-heading{border-top-right-radius:25px;border-top-left-radius:25px}.panel-footer{border-bottom-right-radius:25px;border-bottom-left-radius:25px}
</style>
{% endblock %}

{% block content %}

{% if validlink %}
<div id="stockcontainer">
<div class="container">
<div class="col-md-6 col-md-offset-3">
<div class="panel panel-default" >
    <div class="panel-heading">
        <div class="btn-group btn-group-justified" role="group" aria-label="...">
            <div class="btn-group" role="group">
                <a href="{% url 'auth_login' %}" class="btn btn-default">Log In</a>
            </div>
            <div class="btn-group" role="group">
                <a href="{% url 'registration_register' %}" class="btn btn-default">Register</a>
            </div>
        </div>
    </div>
    <div class="panel-body" >
        {% if user.is_authenticated %}
            <div class="col-lg-12">
                <h4>You are currently logged in.</h4>
            </div>
        {% else %}
        <div class="col-xs-12">
            <h4 style="margin-bottom: 20px;">Verify current and new passwords:</h4>
        </div>
        <form id="basicBootstrapForm" class="form-horizontal" action="." method="post" role="form">
            {% csrf_token %}
            {% if form.non_field_errors %}
            <div class="col-xs-12">
            <div class="form-group">
                <div class="alert alert-warning" style="border-radius: 0; margin-bottom: 0px;">
                    {{ form.non_field_errors }}
                </div>
            </div>
            </div>
            {% endif %}
            <div class="form-group">
                <div class="col-xs-12">
                <input type="password" name="new_password1" id="id_new_password1" tabindex="1" class="form-control" placeholder="New Password" value="">
                </div>
            </div>
            {% if form.new_password1.errors %}
            <div class="col-xs-12">
            <div class="form-group">
                <div class="alert alert-warning" style="border-radius: 0; margin-bottom: 0px;">
                    {{ form.new_password1.errors }}
                </div>
            </div>
            </div>
            {% endif %}
            <div class="form-group">
                <div class="col-xs-12">
                <input type="password" name="new_password2" id="id_new_password2" tabindex="2" class="form-control" placeholder="Confirm New Password">
                </div>
            </div>
            {% if form.new_password2.errors %}
            <div class="col-xs-12">
            <div class="form-group">
                <div class="alert alert-warning" style="border-radius: 0; margin-bottom: 0px;">
                    {{ form.new_password2.errors }}
                </div>
            </div>
            </div>
            {% endif %}
            <div class="form-group">
                <div class="col-xs-12">
                    <button type="submit" class="btn btn-success btn-block center-block" name="register-submit" id="register-submit" value="Change Password">Reset Password</button>
                </div>
            </div>
        </form>
        {% endif %}
    </div>
</div>
</div>
</div>
</div>
{% else %}
<div style="font-size: 130%;">
    <div class="alert alert-warning" style="border-radius: 0; margin-bottom: 0px;">
        <a href="#" class="close" data-dismiss="alert">×</a>
        {% trans "Password reset failed" %}
    </div>
</div>
{% endif %}
{% endblock %}

{% block footer %}
<footer class="footer" id="footerbar">
    <div class="container">
    <div class="row">
        <div id="footercopyright">
            <div class="col-xs-6">
                <h6>Copyright &copy; 2015 Hedge. All rights reserved.</h6>
                <a class="btn btn-link btn-xs" href="{% url 'splash:base_view' %}">Home</a>
                <a class="btn btn-link btn-xs" href="bitcoin:1MPfsgewyBg3Qum8Msc8uQn7kPXpf3FzgV?amount=0.01&label=Hedge">Donate</a>
            </div>
            <div class="col-xs-6">
                <ul class="nav">
                <h6 class="pull-right">
                    <li>Mahdi Hosseini</li>
                    <li>Phillip Stewart</li>
                    <li>Sina Amini</li>
                    <li>Joe Greene</li>
                    <li>Derek Louie</li>
                </h6>
                </ul>
            </div>
        </div>
    </div>
    </div>
</footer>
{% endblock %}


{% block js %}
<script src="/static/js/formValidation.min.js"></script>
<script src="/static/js/bootstrapfv.min.js"></script>
<script>
  $(document).ready(function() {
    $('#basicBootstrapForm').formValidation({
      framework: 'bootstrap',
      icon: {
        valid: 'glyphicon glyphicon-ok',
        invalid: 'glyphicon glyphicon-remove',
        validating: 'glyphicon glyphicon-refresh'
      },
      fields: {
        new_password1: {
          validators: {
            notEmpty: {
              message: 'The password is required.'
            },
            different: {
              field: 'username',
              message: 'The password cannot be the same as username.'
            }
          }
        },
        new_password2: {
          validators: {
            notEmpty: {
              message: 'The password confirmation is required.'
            },
            identical: {
              field: 'new_password1',
              message: 'The password and its confirmation are not the same.'
            }
          }
        }
      }
    });
});
</script>
{% endblock %}


