
{% load i18n %}
<!doctype html>
<html lang="en">

<head>
    <title>{{ site.name }} {% trans "password reset" %}</title>
</head>

<body>
<p>
    {% blocktrans %}
    It seems you have forgotten your password.
    That's ok, just use the link below and you'll be back in working order in no time.
    {% block reset_link %}
	<a href="{{ protocol }}://{{ domain }}{% url 'auth_password_reset_confirm' uid token %}">
	Reset Password</a>
	{% endblock %}
    {% endblocktrans %}
</p>
<p>
    {% blocktrans %}
    Just a reminder, you can help us out so that we can keep building amazing things:<br>
    {% endblocktrans %}
    <a href="bitcoin:1MPfsgewyBg3Qum8Msc8uQn7kPXpf3FzgV?amount=0.01&label=ClockIn">
    Please Donate Bitcoin</a>
</p>
<p>
    {% blocktrans with site_name=site.name %}
    Sincerely,
    {{ site_name }} Management
    {% endblocktrans %}
</p>
<p>
    {% blocktrans with site_name=site.name %}
    If you did not recently attempt to reset your password with {{ site_name }},
    please delete this email and your password will remain unchanged.
    {% endblocktrans %}
</p>

</body>
</html>

