{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block head %}
<link rel="stylesheet" href="/static/css/formValidation.min.css">
<style>
.panel-body .btn{padding:10px}.panel .btn-link{color:black}#basicBootstrapForm .form-group{align-items:top}.panel{border-radius:25px}.panel-heading{border-top-right-radius:25px;border-top-left-radius:25px}.panel-footer{border-bottom-right-radius:25px;border-bottom-left-radius:25px}
</style>
{% endblock %}

{% block content %}
<div id="stockcontainer">
<div class="container">
<div class="col-md-6 col-md-offset-3">
<div class="panel panel-default" >
    <div class="panel-heading">
        <div class="btn-group btn-group-justified" role="group" aria-label="...">
            <div class="btn-group" role="group">
                <a href="{% url 'auth_login' %}" class="btn btn-default">Log In</a>
            </div>
            <div class="btn-group" role="group">
                <a href="{% url 'registration_register' %}" class="btn btn-default">Register</a>
            </div>
        </div>
    </div>
    <div class="panel-body" >
        {% if user.is_authenticated %}
        <div class="col-xs-12">
            <h4>You are currently logged in.</h4>
        </div>
        {% else %}
        <div class="col-xs-12">
            <h4 style="margin-bottom: 20px;">Enter email address to reset password:</h4>
        </div>
        <form id="basicBootstrapForm" class="form-horizontal" action="." method="post" role="form">
            {% csrf_token %}
            {% if form.non_field_errors %}
            <div class="col-xs-12">
            <div class="form-group">
                <div class="alert alert-warning" style="border-radius: 0; margin-bottom: 0px;">
                    {{ form.non_field_errors }}
                </div>
            </div>
            </div>
            {% endif %}
            <div class="form-group">
                <div class="col-xs-12">
                <input type="email" name="email" id="id_email" tabindex="1" class="form-control" placeholder="Email" value="">
                </div>
            </div>
            {% if form.email.errors %}
            <div class="col-xs-12">
            <div class="form-group">
                <div class="alert alert-warning" style="border-radius: 0; margin-bottom: 0px;">
                    {{ form.email.errors }}
                </div>
            </div>
            </div>
            {% endif %}
            <div class="form-group">
                <div class="col-xs-12">
                    <button type="submit" class="btn btn-success btn-block center-block" name="register-submit" id="register-submit" value="Reset Password">Reset Password</button>
                </div>
            </div>
        </form>
    </div>
    {% endif %}
</div>
</div>
</div>
</div>
{% endblock %}

{% block footer %}
<footer class="footer" id="footerbar">
    <div class="container">
    <div class="row">
        <div id="footercopyright">
            <div class="col-xs-6">
                <h6>Copyright &copy; 2015 Hedge. All rights reserved.</h6>
                <a class="btn btn-link btn-xs" href="{% url 'clocks:base_view' %}">Home</a>
                <a class="btn btn-link btn-xs" href="bitcoin:1MPfsgewyBg3Qum8Msc8uQn7kPXpf3FzgV?amount=0.01&label=Hedge">Donate</a>
            </div>
            <div class="col-xs-6">
                <ul class="nav">
                <h6 class="pull-right">
                    <li>Mahdi Hosseini</li>
                    <li>Phillip Stewart</li>
                    <li>Sina Amini</li>
                    <li>Joe Greene</li>
                    <li>Derek Louie</li>
                </h6>
                </ul>
            </div>
        </div>
    </div>
    </div>
</footer>
{% endblock %}

{% block js %}
<script src="/static/js/formValidation.min.js"></script>
<script src="/static/js/bootstrapfv.min.js"></script>
<script>
$(document).ready(function() {$('#basicBootstrapForm').formValidation({framework: 'bootstrap',icon: {valid: 'glyphicon glyphicon-ok',invalid: 'glyphicon glyphicon-remove',validating: 'glyphicon glyphicon-refresh'},fields: {email: {validators: {notEmpty: {message: 'The email address is required.'},emailAddress: {message: 'The input is not a valid email address.'}}}}});
});
</script>
{% endblock %}
